<app-search (inputChanged)="findCourse($event)"></app-search>
<div class="add-course">
  <button>Add Course</button>
  <button (click)="toggleOrderBy()">
    Order By Creation date: {{ orderBy }}
  </button>
</div>
<div class="courses-wrapper">
  <div *ngIf="!courses?.length" style="margin: 20px">
    No Courses avaiable, Feel free add a new one.
  </div>
  <div
    *ngFor="
      let course of orderBy && filterCourseStr?.length > 0
        ? (courses | filter: filterCourseStr | orderBy)
        : orderBy
        ? (courses | orderBy)
        : filterCourseStr?.length > 0
        ? (courses | filter: filterCourseStr)
        : courses
    "
  >
    <app-course-item
      [course]="course"
      (delete)="onCourseDelete($event)"
      [creationDate]="course.createdDate"
      [ngClass]="{ topRated: course.topRated, 'course-item': true }"
      appCreationDate
    >
    </app-course-item>
  </div>
  <button (click)="loadMore()" *ngIf="courses?.length">Load More</button>
</div>
