.add-course {
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.course-item {
  margin: 10px;
}
.courses-wrapper {
  margin-bottom: 70px;
}
.topRated {
  background-color: #fefbea;
}
