:host {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.course-meta-data {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: 10px;
  gap: 10px;
  align-self: center;
}

.right-align {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
}

.topRated {
  align-self: center;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
